/* home page css */
* {
    font-family: "REM", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

body {
    margin: 0;
    background-color: #000000;
    color: #FFFFFF;
}

#icon {
    height: 55px;
}

header {
    background-color: #000000;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #b76e79;
}

header h1 {
    margin: 0;
    color: #e50914;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 700;
    transition-duration: 0.5s;
}

nav a:hover {
    color: #e50914;
    font-weight: 800;
}

main {
    padding: 30px 20px;
}

section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.card {
    background-color: #1c1c1c;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s;
    cursor: pointer;
    border: 1px solid #333;
}

.card:hover {
    transform: scale(1.05);
    border-color: #e50914;
}

.card img {
    width: 100%;
    border-bottom: 1px solid #333;
}

.card-content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card h2 {
    margin: 10px 0;
    font-size: 18px;
    color: #e50914;
}

.card p {
    margin: 5px 0;
    font-size: 14px;
    color: #ccc;
}

.card .rating, .card .genre {
    font-size: 14px;
    color: #e50914;
}
